
#home {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.Title {
   text-align: center;
}

.subtitle {
   margin-left: 1em;
}

.table_ShowData {
   width: 50%;
   margin-left: 1em;
   /* text-align: left; */
   border-collapse: collapse;
   /* margin-left: 2em; */
}